/vendor/
/node_modules/

/.env
.env.backup
.env.production

/public/build/

/storage/*.key
/storage/app/public/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/

bootstrap/cache/*

public/storage

.phpunit.result.cache
